.login-page {
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 300px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.a {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    gap: 20px;
}
